.flex{
    display: flex;

}

.items-center{
  align-items: center;
}

.justify-center{
justify-content: center;
}

.semibold{
    font-weight:bolder;
}

.mx-2{
    margin: 0 12px;
}